// Define variables for your color scheme

// For example:
$dark-blue: #264653;
$persian_green: #2A9D8F;
$orange_yellow: #e9c46a;
$sienna: #f4a261;
$red: #e76f51;
$gray: #0E0000;
$light-gray: #F4F4F4;
