<%= form_tag spaces_path, method: :get do %>
<div class="form-row">
  <div class="col-8">
    <%= text_field_tag :query,
      params[:query],
      class: 'form-control form-rounded',
      id: 'space_address',
      placeholder: "Location" %>
  </div>
  <div class="col-4">
    <%= submit_tag "Find spaces", class: 'btn find-button rounded-pill' %>
    <%= link_to "All Spaces", spaces_path, class: 'btn find-button rounded-pill' %>
  </div>
</div>
<% end %>
