.navbar-lewagon {
  justify-content: space-between;
  background: #2A9D8F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-family: "Pacifico", "cursive";
  font-size: 25px;
  &:hover {
    color: #264653 !important;
  }

}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white
}

.nav-link {
  font-family: "Varela Round", "sans-serif";
  &:hover {
    color: #264653 !important;
  }
}

}

body {
  margin-top: 54px;
}
