.navbar-lewagon {
  justify-content: space-between;
  background: #283618;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-family: "Ultra", "serif";
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;

}

body {
  margin-top: 54px;
}
